/input/magicc
/input/climate
/input/extra
/input/magicc
/libs
/output
/ModelInterface
/Additional Licenses
/CONTRIBUTING.md
/LICENSE.md
/README.md
/exe/*.dll
.Rproj.user
/input/gcamdata/inst/extdata/gcam-usa
/input/gcamdata/man
/input/gcamdata/.drake
/input/gcamdata/figures
/input/gcamdata/tests
/input/gcamdata/inst/extdata/aglu
/input/gcamdata/chunk-generator
/input/gcamdata/data
/input/gcamdata/data-raw
/input/gcamdata/exec
/input/gcamdata/figures
/input/gcamdata/outputs
/input/gcamdata/vignettes



exe/debugReference.xml
exe/debugReference.xml
*.bak
